/* HeaderComponent */
.header {
    background: #004165
}

.id_icon_left_top {
    display: block;
    margin-right: 12px;
    height: 36px;
    width: 36px;
    align-self: center;
}

.HeaderPrimary-Button {
    background-color: transparent;
    border: transparent;
}

.HeaderPrimary-Button:hover {
    background-color: #01527e;

}